.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post {
  width: 60%;
  color: black;
  &__author {
    font-weight: bold;
    margin-bottom: 8px;
  }
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
  &__content {
    height: 100%;
    padding: 12px;
    color: white;
    background-color: black;
    border-radius: 16px;
  }
}

