ul {
  color: black;
  list-style: none;
  padding: 0px;
}

.profile-container {
  display: flex;
  // padding: 0px 20px;
}

.sidebar {
  width: 15%;
  margin: 20px 0px;
  margin-right: 20px;
  padding: 2px 4px;
  border-right: 2px solid black;
  &__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__item {
    width: fit-content;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid black;
    }
  }
}

.profile {
  width: 74%;
  margin: 20px 0px;
  padding: 2px 4px;
  color: black;
}

.friends {
  width: 74%;
  color: black;
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__not-approved {
    display: flex;
  }
  &__categories {
    margin-right: 12px;
  }
  &__category {
    padding: 8px;
    border: 2px solid black;
    font-size: 18px;
    transition: all 0.15s ease-in;
    &:hover {
      background-color: black;
      color: white;
      transform: scale(1.01);
    }
    &_active {
      background-color: black;
      color: white;
    }
    cursor: pointer;
    &:first-child {
      border-bottom: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.friends-item {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid black;
  padding: 8px;
  margin-bottom: 12px;
  &__avatar {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__name {
    border-bottom: 1px solid black;
    margin-bottom: 4px;
    font-weight: bold;
  }
  &__stats {
    display: flex;
    margin-bottom: 8px;
  }
  &__stat {
    margin-right: 8px;
    font-size: 14px;
    color: #666;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__button {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(26, 165, 26);
    background-color: rgb(26, 165, 26);
    cursor: pointer;
    transition: all 0.15s ease-in;
    &:hover {
      border: 1px solid rgb(21, 139, 21);
      background-color: rgb(21, 139, 21);
      transform: translateX(3px);
    }
  }
}
