ul {
  color: black;
  list-style: none;
  padding: 0px;
}

.profile-container {
  display: flex;
  // padding: 0px 20px;
}

.sidebar {
  width: 15%;
  margin: 20px 0px;
  margin-right: 20px;
  padding: 2px 4px;
  border-right: 2px solid black;
  &__nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__item {
    width: fit-content;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid black;
    }
  }
}

.profile {
  &__wrapper {
    width: 74%;
    margin: 20px 0px;
    padding: 2px 4px;
    color: black;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
}

.friends {
  width: 74%;
  color: black;
  &__title {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid black;
  }
  &__empty-msg {
    margin-bottom: 24px;
    text-align: center;
  }
  &__not-approved {
    display: flex;
  }
  &__categories {
    margin-right: 12px;
  }
  &__category {
    padding: 8px;
    border: 2px solid black;
    font-size: 18px;
    transition: all 0.15s ease-in;
    &:hover {
      background-color: black;
      color: white;
      transform: scale(1.01);
    }
    &_active {
      background-color: black;
      color: white;
    }
    cursor: pointer;
    &:first-child {
      border-bottom: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.friends-item {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid black;
  padding: 8px;
  margin-bottom: 12px;
  &__avatar {
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 12px;
  }

  &__name {
    border-bottom: 1px solid black;
    margin-bottom: 4px;
    font-weight: bold;
  }
  &__stats {
    display: flex;
    margin-bottom: 8px;
  }
  &__stat {
    margin-right: 8px;
    font-size: 14px;
    color: #666;
    &:last-child {
      margin-right: 0px;
    }
  }
  &__button {
    margin-right: 8px;
    padding: 8px;
    // border-radius: 8px;

    cursor: pointer;
    transition: all 0.15s ease-in;
    &_add {
      color: black;
      border: 1px solid black;
      background-color: white;
      &:hover {
        color: white;
        border: 1px solid black;
        background-color: black;
        transform: translateX(2px);
      }
    }
    &_del {
      border: 1px solid black;
      background-color: black;
      &:hover {
        border: 1px solid black;
        color: black;
        background-color: white;
        transform: translateX(2px);
      }
    }
  }
}

.playlist {
  &__handlers {
    margin-bottom: 16px;
  }
  &__modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #fefefe, $alpha: 0.4);
  }
  &__create-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 400px;
    padding: 16px 12px;
    border: 2px solid black;
    background-color: white;
    transform: translate(-50%, -50%);
  }
  &__collection {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 80%;
    padding: 16px 12px;
    border: 2px solid black;
    background-color: white;
    transform: translate(-50%, -50%);
  }
}

.create-form {
  &__title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
}

.collection__title {
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
}

.playlist-item {
  &__block {
    border: 2px solid black;
    height: 240px;
    cursor: pointer;
  }
  &__name {
    text-align: center;
    font-size: 18px;
  }
  width: 24%;
}

.react-select {
  &__control {
    background-color: red;
  }
}
