.admin-panel {
  display: flex;
  padding: 40px 60px;
  color: black;
  &__tabs {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 20px;
  }
  &__tab {
    padding: 8px;
    border: 2px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: white;
      color: black;
    }
    &_active {
      background-color: white;
      color: black;
    }
  }
  &__movies {
    width: 69%;
  }
  &__reviews {
    width: 69%;
  }
  &__review {
    // height: 100%;
    overflow: hidden;
    max-height: none;
  }
}

.create-movie {
    &__field {
        margin-bottom: 8px;
    }
}